# Compiled python files
*.pyc

# Virtual environment
venv/

# Built python modules
__pycache__/

# Logs
*.log
logs/

# Backups
*.bak
backup*/

# IDE files
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Testing, coverage, profiling
htmlcov/
.coverage
.tox/
*.pytest_cache/

# Package dependencies
pip-wheel-metadata/
env

# Miscellaneous
.DS_Store
*.pyo
*.~*

ros_datasets